@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e1e9fa; /* Couleur de fond gris clair */
  margin: 0; /* Supprimer les marges par défaut */
  padding: 0; /* Supprimer les paddings par défaut */
}